body{
    /* background-image: linear-gradient( rgb(225, 212, 197),rgb(212, 160, 96),rgb(181, 137, 84) );
    height: 1000px; */
    /* background: linear-gradient( blue,violet); */

}

.forgetPwd-form, .forgetPwd-form button
{
   text-align: center;
}

.forgetPwd-form label, .forgetPwd-form input, .forgetPwd-form button {
    margin-bottom: 10px;
}

.forgetPwd-form button{
    width: 20%;
    margin: auto;
    background-color: bisque;
}

.forgetPwd-form{
    box-shadow: 2px rgb(157, 119, 72);
    border-radius: 3px;
}
